APP_ENV="local"
APP_DEBUG="true"
APP_KEY=""

DB_HOST=""
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_PORT=""

CACHE_DRIVER=""
QUEUE_DRIVER=""

# Lumen Proxy Pass values
# Not necessary to have these
# since these are the default values
# found in config/proxypass.php
#PROXY_ACTIVE="true"
#PROXY_PATH_HEADER="HTTP_X_FORWARDED_PATH"

# http or https: PUBLIC_SCHEMA_OVERRIDE=https
PUBLIC_SCHEMA_OVERRIDE=""

# Example: PUBLIC_URL_OVERRIDE=http://some-other-domain.example.com/some-other-directory
PUBLIC_URL_OVERRIDE=""

FORCE_HTTPS=""
